AMAZON_CLIENT_ID=YOURCLIENTIDHERE
AMAZON_CLIENT_SECRET=YOURSECRETHERE

AWS_ACCESS_KEY=YOUR_ACCESS_KEY_GOES_HERE
AWS_SECRET_KEY=YOUR_SECRET_KEY_GOES_HERE
AWS_ASSOCIATES_TAG=playtim009-20

RACK_ENV=development  # defaults to development if blank
PORT=3000             # defaults to 3000 if blank
