.container-fluid {
  padding: 0;
}

.primary-nav nav {
  background-color: $purple;
  background-image: image-url("crayons-tips.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.primary-nav-logo {
  height: 175px;
}

.primary-nav-links {
  font-size: 18px;
}

.navbar .navbar-brand {
  margin: 0 auto;
}

.navbar-nav {
  width: 36%;
  margin: 0 auto;
  flex-direction: row;

  .nav-item {
    margin: 0px 5px;

    a {
      color: #fff;
    }
  }
}

.user-greeting {
  color: #fff;
  margin: 0 auto;
  display: block;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.primary-nav .user-greeting {
  a {
  color: #fff;
  text-decoration: underline;
  }
}

a.nav-link.dropdown-toggle {
  text-decoration: underline;
}

.dropdown-menu {
  background-color: $purple-transparent;
  border-radius: 15px;

  .dropdown-item {
    text-decoration: none;
  }
}

.dropdown-menu a:hover {
    background-color: $purple-transparent;
    font-weight: bold;
}

.tagline {
  float: right;
  font-size: 16px;
  width: 400px;
  color: #fff;
  text-align: center;
  display: none;
}

/* small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tagline {
    display: inline;
  }
}

/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
