.container-fluid {
  padding: 0;
}

.primary-nav nav {
  background-color: #9b347d;
  background-image: image-url("crayons-tips.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.primary-nav-logo {
  height: 175px;
}

.primary-nav-links {
  font-size: 18px;
}

.navbar-nav a, .navbar-text {
  color: #fff !important;
}

.dropdown-menu {
  background-color: rgba(155, 52, 125, .75);
  border-radius: 15px;
}

.dropdown-menu a:hover {
    background-color: rgba(155, 52, 125, .75);
    font-weight: bold;
}

.tagline {
  float: right;
  font-size: 16px;
  width: 400px;
  color: white;
  text-align: center;
}
