.social-share-button {
  float: right;
  .ssb-icon {
    background-size: 32px !important;
    height: 32px !important;
    width: 32px !important;
  }
}

/* forms */
.group-label {
  font-size: 1.25rem;
}

.text-field-md {
  width: 50%;
}

.submit {
  color: $white;
  background-color: $teal;
}

.row-headers {
  width: 300px;
  height: 30px;
}

.rows {
  height: 30px;
}

.user-details-table {
  background-color: $light-yellow;
}

.pledges-table {
  background-color: $light-blue;
}

.form.center-form {
  padding: 20px;
}
