<% if notice %>
  <div class="container alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <span class="notice"><%= notice %></span>
  </div>
  <% elsif alert %>
    <div class="container alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <span class="alert"><%= alert %></span>
    </div>
<% end %>
