<div class="container-fluid">
  <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md primary-nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><%= image_tag "HCPP_white_logo.png", class: "primary-nav-logo" %></a>

    <div class="collapse navbar-collapse primary-nav-links" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wishlists</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="#">DC General</a>
            <a class="dropdown-item" href="#">Turning Point</a>
            <a class="dropdown-item" href="#">Quality Inn</a>
            <!-- We'll need to dynamically populate this according to wishlists -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log In</a>
        </li>
      </ul>
    </div>
    <div class="tagline">
      <p>Families Deserve Housing. Children Deserve Play.</p>
    </div>
  </nav>
</div>
