<div class="container">
  <h2 class = "purple">Editing <%= @user.display_name %></h2>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
