<div class="container">
  <div class="header">
    <h2>Are you a hero of play?</h2>
    <p class="lead">
    We believe that play is a human right that all children deserve, regardless
    of housing status. Become a hero of play and combine your powers with
    Playtime's healing programs!
    </p>
  </div>

  <%= render @wishlist_items %>
</div>
