<div class>
  <table class = 'table'>
    <tbody>
      <% @response["ItemSearchResponse"]["Items"]["Item"].each do |item| %>
        <% item_price = item["OfferSummary"].present? ? item["OfferSummary"]["LowestNewPrice"]["FormattedPrice"] : '$0.00' %>
        <% if item_price != '$0.00' %>
          <tr>
            <td>
              <%= image_tag "#{item["SmallImage"]["URL"]}", width: "#{item["SmallImage"]["Width"]}", height: "#{item["SmallImage"]["Height"]}" %>
            </td>
            <td class="item_title">
              <%= link_to "#{item["ItemAttributes"]["Title"]}", "#{item["DetailPageURL"]}", :target => "_blank" %>
            </td>
            <td>
              <%= item_price %>
            </td>
          </tr>
        <% end %>
      <% end  %>
    </tbody>
  </table>
</div>
