@import "playtime/primary-nav";

body {
  color: #000;
  font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
}

.item_title {
  font-size: 1.25em;
}
.item_title a {
  color: #fff;
}

.container {
  max-width: 80%;
  margin: auto;
}
