@import "playtime/primary-nav";
@import "playtime/social-share";
@import "playtime/wishlist-item";

body {
  color: $light-gray;
  font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.25rem;
}

a {
  text-decoration: underline;
  color: $teal;
}

h2 {
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: $purple;
}

h3 {
  margin-bottom: 20px;
}

.item_title {
  font-size: 1.25em;
}
.item_title a {
  color: $white;
}

.container {
  max-width: 80%;
  margin: auto;
}

.header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  width: 150px;
  height: 168px;
}

.card-title a{
  color: $teal;
}

.card {
  border-left: none;
  border-right: none;
}

.padding-right {
  padding-right: 25px;
}

.float-right {
  float: right;
}

.flash-alerts {
  display: flex;
  justify-content: center;

  .alert {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: #fff;
  background-color: #9b347d;
  text-align: center;
}
.footer a {
  color: #08bef7;
  text-decoration: none;
}
.btn-primary {
  color: $white;
  background-color: $purple;
  border-color: $purple;

  &:hover {
    background-color: $teal;
    border-color: $teal;
  }
}

.current-view {
  margin-bottom: 15px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}