@import "playtime/primary-nav";

body {
  background-color: #0084ad;
  color: #fff;
  font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
}

.item_title {
  font-size: 1.25em;
}
.item_title a {
  color: #fff;
}
