/* Colors */
$purple: #9b347d;
$purple-transparent: rgba(155, 52, 125, .75);
$teal: #0084ad;
$white: #fff;
$light-gray: #333;
$light-yellow: #ffffe0;
$light-blue: #add8e6;

/* Screen Sizes */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
