<div class="container">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <h2 class = "purple">Editing Wishlist: <%= @wishlist.name %></h2>

  <%= render 'form', wishlist: @wishlist %>

  <%= link_to 'Back to Wishlist', @wishlist %>
</div>
