<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class = "purple">New Wishlist</h2>

  <%= render 'form', wishlist: @wishlist %>

  <%= link_to 'Back to Wishlist', @wishlist %>
</div>
