<div class="container">
  <div class="header">
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <h2 class="purple">Create Wish List</h1>

    <h3>Wish List Information</h3>

    <%= render 'form', wishlist: @wishlist %>

  </div>
</div>
